<app-header></app-header>
<div id="container">
  <div class="max-width">
    <h1 class="page-header">Frequently Asked Questions</h1>

    <div id="aboutUsDetailsBox">
      <p class="aboutUsDetailsHeadingBar">
        <a id="Cancellations">
          Cancellation Policy
        </a>
      </p>
      <div class="termsAndConditions">
        <ol>
          <li>In Micro/Mini/Prime/Sedan/Suv/Luxury/Rental and Auto
            <p>Cancellation fee will be charged :
            </p>
            <ul>
              <li>If you cancel after 5 minutes after the cab is allotted or</li>
              <li>If a driver cancels after waiting at your location for more than 5 minutes</li>
              <li>You will not be charged a cancellation fee if the driver is delayed by more than 5
                minutes
              </li>
              <li>Cancellation fee will be added to the bill amount of your next ride.</li>
            </ul>
            <p></p>
          </li>
          <li>In Share
            <p>Cancellation fee will be charged :
            </p>
            <ul>
              <li>If you cancel after 2 minutes after the cab is allotted or</li>
              <li>If a driver cancels after waiting at your location for more than 3 minutes</li>
              <li>You will not be charged a cancellation fee if the driver is delayed by more than 5
                minutes
              </li>
              <li>Cancellation fee will be added to the bill amount of your next ride.</li>
            </ul>
            <p></p>
          </li>
          <li>In Outstation
            <p>Cancellation fee will be charged :
            </p>
            <ul>
              <li>If you cancel after 5 minutes after the cab is allotted</li>
              <li>Cancellation fee will be added to the bill amount of your next ride.</li>
            </ul>
            <p></p>
          </li>
        </ol>
      </div>
  </div>
</div>
<app-footer></app-footer>
