<app-header></app-header>
<div class="about-content-wrapper">
  <div class="comm-indiv-content content-active" id="contact">
      <div class="contact-us-content max-width">
          <div class="section-container">
              <h1 class="section-heading">Reach the Appropriate Team</h1>
          </div>
          <div class="contact-section">
              <div class="indiv-row">
                  <div class="wd-50 left">
                      <div class="img-holder">
                          <img src="assets/autohub-images2/webstatic/img/contact/customer-support.svg" />
                      </div>
                      <div class="support-info">
                          <h2 class="heading">customer support</h2>
                          <p class="content">
                              For support with your bookings and other queries,
                              <!-- <a href="https://help.olacabs.com/support/home" target="_blank">click here</a> or  -->
                              visit the Support section in the AutoHub app.
                          </p>
                      </div>
                  </div>
                  <div class="wd-50 right">
                      <div class="img-holder">
                          <img src="assets/autohub-images2/webstatic/img/contact/media.svg" />
                      </div>
                      <div class="support-info">
                          <h2 class="heading">Media Related Queries</h2>
                          <p class="content">
                              For press and media related queries please reach out to
                              <a href="mailto:info@autohub.com">info@autohub.com</a>.
                          </p>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="indiv-row">
                  <div class="wd-50 left">
                      <div class="img-holder">
                          <img src="assets/autohub-images2/webstatic/img/contact/security.svg" style="height:56px;"/>
                      </div>
                      <div class="support-info">
                          <h2 class="heading">customer security</h2>
                          <p class="content">
                              If you have security concerns, please report your issues with AutoHub at
                              <a href="mailto:info@autohub.com">
                                info@autohub.com
                              </a>
                          </p>
                      </div>
                  </div>
                  <div class="wd-50 right">
                      <div class="img-holder">
                          <img src="assets/autohub-images2/webstatic/img/contact/drive.svg" />
                      </div>
                      <div class="support-info">
                          <h2 class="heading">Drive for AutoHub</h2>
                          <p class="content">
                              If you are a driver or a fleet manager and want to attach your vehicle with AutoHub, write here
                              <a href="mailto:info@autohub.com">
                                info@autohub.com
                              </a>
                              <!-- <a href="https://partners.olacabs.com/" target="_blank">click here</a> -->
                          </p>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
          </div>
          <div class="section-container">
              <h1 class="section-heading">Address</h1>
          </div>
          <div class="contact-section">
              <div class="indiv-row">
                  <div class="wd-50 left">
                      <div class="info">
                          <h2 class="heading">Registered Office</h2>
                          <p class="content">
                              XYZ Private Limited<br>
                              Vijay Nagar, <br>
                              Agra, India, 560034<br>
                          </p>
                          <ul class="mobile-no">
                              <li>
                                  <span class="title">Phone number</span>
                                  <span>1234567890</span>
                              </li>
                              <li>
                                  <span class="title">Fax number</span>
                                  <span>7896541236</span>
                              </li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                      <div class="address-map">
                           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7096.966638245591!2d78.01638607260206!3d27.203971474101188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397470b4884d9c03%3A0x1c52c6582d36ba8a!2sVijayanagar%20Colony%2C%20Civil%20Lines%2C%20Agra%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1606820138357!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                      </div>
                  </div>
                  <div class="clearfix"></div>
              </div>
              <div class="clearfix"></div>
              <div class="indiv-row">
                  <div class="wd-50 left">
                      <div class="info">
                          <h2 class="heading">Delhi Offices</h2>
                          <p class="content">
                              Abc Technology <br>
                              near Haldiram<br>
                              A 83 - top floor<br>
                              Noida,<br>
                              India, 201301<br>
                          </p>
                          <ul class="mobile-no">
                              <li>
                                  <span class="title phone-number">Phone number</span>
                                  <span>78965412333</span>
                              </li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                      <div class="address-map">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7005.186928005422!2d77.37652164158172!3d28.611970381324316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cef8a7408657f%3A0x149011bb14d5fa88!2s83%2C%20A%20Block%20Rd%2C%20Block%20A%2C%20Sector%2064%2C%20Noida%2C%20Uttar%20Pradesh%20201307!5e0!3m2!1sen!2sin!4v1606820022403!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                      </div>
                  </div>
                  <!-- <div class="wd-50 right">
                      <div class="info">
                          <h2 class="heading hide-xs">&nbsp;</h2>
                          <p class="content">
                              ANI Technologies Private Limited <br>
                              Torrey Pines,<br>
                              Embassy Golf Links Business Park,<br>
                              Challaghatta,<br>
                              Bengaluru, 560071<br>
                          </p>
                          <ul class="mobile-no hide-xs">
                              <li>
                                  <span class="title phone-number" style="opacity:0;visibility:hidden;">Phone number</span>
                                  <span>&nbsp;</span>
                              </li>
                          </ul>
                      </div>
                      <div class="clearfix"></div>
                      <div class="address-map torrey-pines">
                          <div class="tor-address">
                              4th Floor, Torrey Pines,<br>
                              Embassy Golf Links Business Park,<br>
                              Challaghatta, Bengaluru,<br>
                              Karnataka 560071 <br>
                          </div>
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.337976820637!2d77.64064561482176!3d12.950211890869937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae140d84cfe83b%3A0x75d4be9cf33f23b6!2sOla+Bangalore+Office!5e0!3m2!1sen!2s!4v1494925470678" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                      </div>
                  </div> -->
                  <div class="clearfix"></div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
