<app-header></app-header>
<section>
  <div class="about-tab-container">
      <div class="about-tab hide-xs">
          <a href="about.html" class="tab tab-active" data-tab="about">
              About Ola
          </a>
          <a href="careers.html" class="tab" data-tab="careers">
              Careers
          </a>
          <a href="contact.html" class="tab" data-tab="contact">
              Contact Us
          </a>
          <a href="media.html" target="_blank" class="tab" data-tab="investors">
              Media Center
          </a>
          <a href="https://blog.olacabs.com/" target="_blank" class="tab" data-tab="investors">
              Blog
          </a>
          <a href="info/faqs.html#notices" target="_blank" class="tab" data-tab="notices">
              Notices
          </a>
      </div>
      <div class="about-tab about-tab-xs">
          <a href="about.html" class="tab tab-active" data-tab="about">
              About Ola
          </a>
          <a href="careers.html" class="tab" data-tab="careers">
              Careers
          </a>
          <a id="more-option" class="tab more-tab" data-tab="investors">
              <img src="assets/autohub-images2/webstatic/img/more-icon.svg"/>
          </a>
      </div>
      <div class="more-option-list hide">
          <a href="contact.html" class="tab" data-tab="contact">
          Contact Us
          </a>
          <a href="media.html" target="_blank" class="tab" data-tab="investors">
              Media Center
          </a>
          <a href="https://blog.olacabs.com/" target="_blank" class="tab" data-tab="investors">
              Blog
          </a>
          <a href="info/faqs.html#notices" target="_blank" class="tab" data-tab="notices">
              Notices
          </a>
      </div>
      <div class="about-content-wrapper">
          <div class="comm-indiv-content content-active" id="about">
              <div class="about-content max-width">
                  <div class="about-section">
                      <div class="section-container">
                          <h1 class="section-heading">
                              Make your own way with the AutoHub
                          </h1>
                      </div>
                      <div class="wd-50 right text-right">
                          <img src="assets/autohub-images2/webstatic/img/about/about1.jpg" class="about-img" />
                      </div>
                      <div class="wd-50 left">
                          <div class="section-container">
                              <div class="section-sub-heading">
                                AutoHub is India’s largest mobility platform and one of the world’s largest ride-hailing companies, serving 250+ cities across India, Australia, New Zealand, and the UK. The AutoHub app offers mobility solutions by connecting customers to drivers and a wide range of vehicles across bikes, auto-rickshaws, metered taxis, and cabs, enabling convenience and transparency for hundreds of millions of consumers and over 1.5 million driver-partners.
                                  <br>
                                  <br>
                                  <!-- Ola’s core mobility offering in India is supplemented by its electric-vehicle arm, Ola Electric; India’s largest fleet management business, Ola Fleet Technologies and Ola Skilling, that aims to enable millions of livelihood opportunities for India's youth. With its acquisition of Ridlr, India’s leading public transportation app and investment in Vogo, a dockless scooter sharing solution, Ola is looking to build mobility for the next billion Indians. Ola also extends its consumer offerings like micro-insurance and credit led payments through Ola Financial Services and a range of owned food brands through India’s largest network of kitchens under its Food business. -->
                                  <br>
                                  <br>
                                  <!-- Ola was founded in Dec 2010 by Bhavish Aggarwal and Ankit Bhati with a mission to build mobility for a billion people. -->
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="about-section">
                      <div class="about-list clearfix">
                          <div class="indiv-item left">
                              <div class="img-holder">
                                  <img src="assets/autohub-images2/webstatic/img/about/book-ride.svg" style="width: 50px;"/>
                              </div>
                              <div class="item-container">
                                  <h1 class="heading">1 bn+</h1>
                                  <p class="info">
                                      Rides served every year
                                  </p>
                              </div>
                          </div>
                          <div class="indiv-item right">
                              <div class="img-holder">
                                  <img src="assets/autohub-images2/webstatic/img/about/city.svg" />
                              </div>
                              <div class="item-container">
                                  <h1 class="heading">250+</h1>
                                  <p class="info">
                                      Cities serviced by the AutoHub to get you to your destination on time, every time
                                  </p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                          <div class="indiv-item left last-child">
                              <div class="img-holder">
                                  <img src="assets/autohub-images2/webstatic/img/about/partner.svg" />
                              </div>
                              <div class="item-container">
                                  <h1 class="heading">1.5 mn</h1>
                                  <p class="info">
                                      Empowered entrepreneurs as driver-partners on the platform
                                  </p>
                              </div>
                          </div>
                          <div class="indiv-item right last-child">
                              <div class="img-holder">
                                  <img src="assets/autohub-images2/webstatic/img/about/employee.svg" />
                              </div>
                              <div class="item-container">
                                  <h1 class="heading">7,000+</h1>
                                  <p class="info">
                                      Employees work tirelessly to provide you with the best in technology and service
                                  </p>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </div>
                  <!-- <div class="about-section">
                      <div class="gallery">
                          <div class="wd-60 left">
                              <div class="left-img"></div>
                          </div>
                          <div class="wd-40 right">
                              <div class="gallery-sub-1 part1-img">
                                  <div class="right-img"></div>
                              </div>
                              <div class="clearfix"></div>
                              <div class="gallery-sub-2 part2-img">
                                  <div class="right-img"></div>
                              </div>
                          </div>
                          <div class="clearfix"></div>
                      </div>
                  </div> -->
                  <!-- <div class="about-section">
                      <div class="about-team section-container">
                          <h1 class="section-heading">
                              The duo behind Ola
                          </h1>
                          <div class="indiv-row clearfix">
                              <div class="wd-40 left">
                                  <div class="img-holder">
                                      <img src="webstatic/img/about/bhavish.jpg" />
                                  </div>
                              </div>
                              <div class="wd-60 right">
                                  <div class="team-info">
                                      <h1 class="name">Bhavish Aggarwal</h1>
                                      <label class="role">Co-Founder and CEO</label>
                                      <p class="info">
                                          Bhavish is the Co-Founder &amp; CEO of Ola, one of the world’s largest ride-sharing platforms and India’s most popular mobile app for transportation. With the mission of building mobility for a billion people, he started Ola (formerly OlaCabs) in 2010 with Ankit Bhati, a fellow alumnus from the Indian Institute of Technology in Mumbai, the country’s premier institution for technology and science.
                                          <br><br>
                                          Before Ola, Bhavish worked with Microsoft Research for two years, filing two patents alongside having three papers published in international academic journals. True to his belief of the need to have on-demand consumer transportation as a service, Bhavish doesn't own a car himself and vows that he never will!
                                      </p>
                                  </div>
                              </div>
                          </div>
                          <div class="indiv-row clearfix">
                              <div class="wd-40 left">
                                  <div class="img-holder">
                                      <img src="webstatic/img/about/ankit.jpg" />
                                  </div>
                              </div>
                              <div class="wd-60 right">
                                  <div class="team-info">
                                      <h1 class="name">Ankit Bhati</h1>
                                      <label class="role">Co-Founder and CTO</label>
                                      <p class="info">
                                          Ankit is the Co-Founder &amp; CTO of Ola, one of the world’s largest ride-sharing platforms and India’s most popular mobile app for transportation. With the mission of building mobility for a billion people, he started Ola (formerly OlaCabs) in 2010 with Bhavish, a fellow alumnus from the Indian Institute of Technology in Mumbai, the country’s premier institution for technology and science.
                                          <br><br>
                                          At Ola, Ankit leads product, engineering, and data sciences, ensuring a strong back-end system that powers the experience of riders and driver partners alike. Scaling Ola in a short span of time, he has played a lead role in pioneering technologies such as mapping innovations, the world’s first connected car platform - Ola Play, and offline bookings that made Ola accessible for a large segment of the population.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer></app-footer>
