/* Body Styling only start */
body {
  text-align: center;
  background-color: lightcyan;
  font-family: 'POPPINS', Open-Sans;
  background: linear-gradient(to right, #4568dc, #b06ab3);
}
::selection {
  color: #8e44ad;
}
/* Body Styling only end */
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vw; */
  height: 50vh;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}
section form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  margin: 0 auto;
}
section form input {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 25px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}
section form input:last-child {
  margin-right: 0;
}
section form input::-webkit-inner-spin-button, section form input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
section form input:focus, section form input.focus {
  border-color: green;
  outline: none;
  box-shadow: none;
}
.message{
  color: green;
  /* text-align: center;
  margin-left: 285px;
  margin-bottom: 5px; */
}
form.otpForm.ng-untouched.ng-pristine.ng-valid {
  margin-left: 144px;
  /* margin-bottom: 149px; */
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button.button.submit-button.itembutton {
  background-color: deepskyblue;
  padding: 6px;
    margin-right: 133px;
}
button.button.button2.itembutton1 {
  background-color: red;
  /* padding: 6px;
    margin-right: 133px; */
}
button.button.button2.itembutton2 {
  background-color: rgb(0, 255, 55);
  padding: 6px;
    margin-right: 133px;
}
