<footer class="footer-v2">  <!--footer-->
  <div class="max-width">
      <div class="footer">

              <!--<div class="row main-links clearfix top-cities">-->
                  <!--<div class="title">Popular Airports</div>-->
                  <!---->
                      <!--<a href="" class="pull-left"></a>-->
                  <!---->
              <!--</div>-->


              <!-- <div class="row main-links clearfix top-cities">
                  <div class="title">Top Visited Cities</div>

              </div>



          <div class="row lists clearfix">
              <div class="title">
                  Popular Outstation Routes
              </div>
              <div>
                  <ul>
                      <li class="bold">Northern India</li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Delhi to Chandigarh Outstation Cabs"
                             href="outstation-cars/Delhi-to-Chandigarh1d3f.html?utm_source=footer_popular_routes">Delhi to Chandigarh Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Delhi to Agra Outstation Cabs"
                             href="outstation-cars/Delhi-to-Agra1d3f.html?utm_source=footer_popular_routes">Delhi to Agra Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Delhi to Jaipur Outstation Cabs"
                             href="outstation-cars/Delhi-to-Jaipur1d3f.html?utm_source=footer_popular_routes">Delhi to Jaipur Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Delhi to Shimla Outstation Cabs"
                             href="outstation-cars/Delhi-to-Shimla1d3f.html?utm_source=footer_popular_routes">Delhi to Shimla Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Delhi to Nainital Outstation Cabs"
                             href="outstation-cars/Delhi-to-Nainital1d3f.html?utm_source=footer_popular_routes">Delhi to Nainital Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Jaipur to Delhi Outstation Cabs"
                             href="outstation-cars/Jaipur-to-Delhi1d3f.html?utm_source=footer_popular_routes">Jaipur to Delhi Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>
                      <li class="bold">Southern India</li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chennai to Pondicherry Outstation Cabs"
                             href="outstation-cars/Chennai-to-Pondicherry1d3f.html?utm_source=footer_popular_routes">Chennai to Pondicherry Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chennai to Tirupati Outstation Cabs"
                             href="outstation-cars/Chennai-to-Tirupati1d3f.html?utm_source=footer_popular_routes">Chennai to Tirupati Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chennai to Vellore Outstation Cabs"
                             href="outstation-cars/Chennai-to-Vellore1d3f.html?utm_source=footer_popular_routes">Chennai to Vellore Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Hyderabad to Vijayawada Outstation Cabs"
                             href="outstation-cars/Hyderabad-to-Vijayawada1d3f.html?utm_source=footer_popular_routes">Hyderabad to Vijayawada Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Hyderabad to Warangal Outstation Cabs"
                             href="outstation-cars/Hyderabad-to-Warangal1d3f.html?utm_source=footer_popular_routes">Hyderabad to Warangal Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Hyderabad to Tirupati Outstation Cabs"
                             href="outstation-cars/Hyderabad-to-Tirupati1d3f.html?utm_source=footer_popular_routes">Hyderabad to Tirupati Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>
                      <li class="bold">East &amp; West India</li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Pune Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Pune1d3f.html?utm_source=footer_popular_routes">Mumbai to Pune Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Mahabaleshwar Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Mahabaleshwar1d3f.html?utm_source=footer_popular_routes">Mumbai to Mahabaleshwar Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Lonavala Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Lonavala1d3f.html?utm_source=footer_popular_routes">Mumbai to Lonavala Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Nashik Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Nashik1d3f.html?utm_source=footer_popular_routes">Mumbai to Nashik Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Matheran Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Matheran1d3f.html?utm_source=footer_popular_routes">Mumbai to Matheran Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mumbai to Shirdi Outstation Cabs"
                             href="outstation-cars/Mumbai-to-Shirdi1d3f.html?utm_source=footer_popular_routes">Mumbai to Shirdi Outstation Cabs</a>
                      </li>

                  </ul>
              </div>
              <div>
                  <a class="expand footer-expand-link">
                      <div class="footer-link-msg">+ Expand more routes</div>
                  </a>
                  <a class="hide-link footer-hide-link hide">Hide</a>
              </div>


                  <div class="expand-view footer-expanded-view-1 hide">
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chandigarh to Manali Outstation Cabs"
                             href="outstation-cars/Chandigarh-to-Manali1d3f.html?utm_source=footer_popular_routes">Chandigarh to Manali Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chandigarh to Delhi Outstation Cabs"
                             href="outstation-cars/Chandigarh-to-Delhi1d3f.html?utm_source=footer_popular_routes">Chandigarh to Delhi Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Chandigarh to Ludhiana Outstation Cabs"
                             href="outstation-cars/Chandigarh-to-Ludhiana1d3f.html?utm_source=footer_popular_routes">Chandigarh to Ludhiana Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Kanpur to Lucknow Outstation Cabs"
                             href="outstation-cars/Kanpur-to-Lucknow1d3f.html?utm_source=footer_popular_routes">Kanpur to Lucknow Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Lucknow to Kanpur Outstation Cabs"
                             href="outstation-cars/Lucknow-to-Kanpur1d3f.html?utm_source=footer_popular_routes">Lucknow to Kanpur Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bhopal to Jaipur Outstation Cabs"
                             href="outstation-cars/Bhopal-to-Jaipur1d3f.html?utm_source=footer_popular_routes">Bhopal to Jaipur Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bangalore to Mysore Outstation Cabs"
                             href="outstation-cars/Bangalore-to-Mysore1d3f.html?utm_source=footer_popular_routes">Bangalore to Mysore Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bangalore to Coorg Outstation Cabs"
                             href="outstation-cars/Bangalore-to-Coorg1d3f.html?utm_source=footer_popular_routes">Bangalore to Coorg Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bangalore to Ooty Outstation Cabs"
                             href="outstation-cars/Bangalore-to-Ooty1d3f.html?utm_source=footer_popular_routes">Bangalore to Ooty Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bangalore to Pondicherry Outstation Cabs"
                             href="outstation-cars/Bangalore-to-Pondicherry1d3f.html?utm_source=footer_popular_routes">Bangalore to Pondicherry Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Mysore to Bangalore Outstation Cabs"
                             href="outstation-cars/Mysore-to-Bangalore1d3f.html?utm_source=footer_popular_routes">Mysore to Bangalore Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Coimbatore to Ooty Outstation Cabs"
                             href="outstation-cars/Coimbatore-to-Ooty1d3f.html?utm_source=footer_popular_routes">Coimbatore to Ooty Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Pune to Mumbai Outstation Cabs"
                             href="outstation-cars/Pune-to-Mumbai1d3f.html?utm_source=footer_popular_routes">Pune to Mumbai Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Pune to Lavasa Outstation Cabs"
                             href="outstation-cars/Pune-to-Lavasa1d3f.html?utm_source=footer_popular_routes">Pune to Lavasa Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Indore to Ujjain Outstation Cabs"
                             href="outstation-cars/Indore-to-Ujjain1d3f.html?utm_source=footer_popular_routes">Indore to Ujjain Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Bhubaneswar to Puri Outstation Cabs"
                             href="outstation-cars/Bhubaneswar-to-Puri1d3f.html?utm_source=footer_popular_routes">Bhubaneswar to Puri Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Kolkata to Durgapur Outstation Cabs"
                             href="outstation-cars/Kolkata-to-Durgapur1d3f.html?utm_source=footer_popular_routes">Kolkata to Durgapur Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Aurangabad to Shirdi Outstation Cabs"
                             href="outstation-cars/Aurangabad-to-Shirdi1d3f.html?utm_source=footer_popular_routes">Aurangabad to Shirdi Outstation Cabs</a>
                      </li>

                  </ul>
                  </div>

                  <div class="expand-view footer-expanded-view-2 hide">
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Ahmedabad to Vadodara Outstation Cabs"
                             href="outstation-cars/Ahmedabad-to-Vadodara1d3f.html?utm_source=footer_popular_routes">Ahmedabad to Vadodara Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Indore to Bhopal Outstation Cabs"
                             href="outstation-cars/Indore-to-Bhopal1d3f.html?utm_source=footer_popular_routes">Indore to Bhopal Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Ajmer to Jaipur Outstation Cabs"
                             href="outstation-cars/Ajmer-to-Jaipur1d3f.html?utm_source=footer_popular_routes">Ajmer to Jaipur Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Vadodara to Ahmedabad Outstation Cabs"
                             href="outstation-cars/Vadodara-to-Ahmedabad1d3f.html?utm_source=footer_popular_routes">Vadodara to Ahmedabad Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Kochi to Munnar Outstation Cabs"
                             href="outstation-cars/Kochi-to-Munnar1d3f.html?utm_source=footer_popular_routes">Kochi to Munnar Outstation Cabs</a>
                      </li>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Kochi to Alleppey Outstation Cabs"
                             href="outstation-cars/Kochi-to-Alleppey1d3f.html?utm_source=footer_popular_routes">Kochi to Alleppey Outstation Cabs</a>
                      </li>

                  </ul>
                  <ul>

                      <li>
                          <a class="event-elem"
                             event-name="footer_popular_route"
                             event-value="Aurangabad to Pune Outstation Cabs"
                             href="outstation-cars/Aurangabad-to-Pune1d3f.html?utm_source=footer_popular_routes">Aurangabad to Pune Outstation Cabs</a>
                      </li>

                  </ul>
                  </div>


          </div> -->
          <div class="row social">
              <div class="title">Social Links</div>
              <a href="javascript:void(0);" ><img src="assets/www.olacabs.com/webstatic/img/footer/fb-footer-icon.svg"></a>
              <a href="javascript:void(0);" ><img src="assets/www.olacabs.com/webstatic/img/footer/insta-footer-icon.svg"></a>
              <a href="javascript:void(0);" ><img src="assets/www.olacabs.com/webstatic/img/footer/youtube-footer-icon.svg"></a>
              <a href="javascript:void(0);" ><img src="assets/www.olacabs.com/webstatic/img/footer/twitter-footer-icon.svg"></a>
              <div class="pull-right">
                  <div class="country-select">
                      <div class="select">
                          <img src="assets/www.olacabs.com/webstatic/img/footer/down-arrow-icon.svg" class="down-icon"/>
                          <div class="selected">
                              <img src="assets/www.olacabs.com/webstatic/img/footer/india-flag-icon.png" class="img-holder"> India
                          </div>
                      </div>
                      <ul class="select-options country-options hide">
                          <li class="default-hide">
                              <img src="assets/www.olacabs.com/webstatic/img/footer/india-flag-icon.png" class="img-holder"> India
                          </li>
                          <!-- <li>
                              <a href="http://ola.com.au/">
                                  <img src="assets/www.olacabs.com/webstatic/img/footer/australia-flag-icon.png" class="img-holder"> Australia
                              </a>
                          </li>
                          <li>
                              <a href="https://www.gb.olacabs.com/">
                                  <img src="assets/www.olacabs.com/webstatic/img/footer/uk-flag-icon.png" class="img-holder"> United Kingdom
                              </a>
                          </li>
                          <li>
                              <a href="https://ola.co.nz/">
                                  <img src="assets/www.olacabs.com/webstatic/img/nz.svg" class="img-holder"> New Zealand
                              </a>
                          </li> -->
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row main-links clearfix">
              <div class="title">Discover AutoHub</div>
              <a id="desktop_footer_about_us" class="event-elem pull-left" routerLink="home" (click)="aboutus()">About AutoHub</a>
              <!-- <a id="desktop_footer_careers" class="event-elem pull-left" href="javascript:void(0);">Careers</a> -->
              <!-- <a  class="pull-left">Offers</a> -->
              <a routerLink="home" (click)="contactus()" class="pull-left">Contact Us</a>
              <!-- <a href="javascript:void(0);" class="pull-left">Media Center</a> -->
              <a routerLink="home" class="pull-right last" (click)="bookthehub()">Book a ride</a>
              <!-- <a href="javascript:void(0);" class="pull-right">Become a driver</a> -->
              <a routerLink="home" (click)="privacypolicy()">Privacy Policy</a>
          </div>
          <!-- <div class="row tc-links clearfix">
              <div class="logo-container"><a href="javascript:void(0);"><img src="assets/www.olacabs.com/webstatic/img/logoautohub.jpg"></a></div>
              <a href="javascript:void(0);">Notices</a>
              <a id="desktop_footer_tnc" class="event-elem" href="javascript:void(0);">Terms &amp; Conditions</a>
              <a href="javascript:void(0);">Privacy Policy</a>
              <div class="copyrights">Copyright © 2020 Sitcom Technology Pvt. Ltd. All rights reserved.</div>
          </div> -->
      </div>
  </div>
</footer> <!--/footer-->
