<div class="container">
  <div class="row col-md-6">
    <div class="img-left-side">
      <img src="assets/autohub-images2/webstatic/img/logoautohub.jpg" class="img-fluid" alt="">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Daily rides</a></li>
        <li><a data-toggle="tab" href="#menu1">Outstation</a></li>
        <li><a data-toggle="tab" href="#menu2">Rentals</a></li>
        <li><i class="fa fa-user-circle-o fa-2x" aria-hidden="true" (click)="userprofile()"></i></li>
      </ul>

      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <div id="menu1" class="tab-pane fade">
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
        <div id="menu2" class="tab-pane fade">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row col-md-6">
    <img class="afterlogin" src="assets/autohub-images/afterlogin.jpg">
  </div>
</div>
