<div class="container-fluid">
  <div class="row col-md-3">
    <div class="img-left-side">
      <img src="assets/autohub-images2/webstatic/img/logoautohub.jpg" class="img-fluid" alt="">
  </div>
  <div class="ola-booking-wrapper max-width">
    <div class="ola-booking">
        <div class="booking-tab">
            <div class="tab-btn-wrapper text-center nav nav-tabs" style="padding: 28px 0px 0px 0px;">

                    <!-- <a href="#ctytxi" data-toggle="tab" class="tab tab-active">City Taxi</a> -->
                    <a routerLink="home" data-toggle="tab" class="tab tab-active">CityTaxi</a>
            </div>
            <div class="tab-btn-wrapper text-center" style="padding: 28px 0px 0px 0px;">

                    <!-- <a href="#otsttion" data-toggle="tab" class="tab">Outstation</a> -->
                    <a routerLink="home"  data-toggle="tab" class="tab">Outstation</a>
            </div>
            <div class="tab-btn-wrapper text-center" style="padding: 28px 0px 0px 0px;">

                    <!-- <a href="#rentls" data-toggle="tab" class="tab">Rentals</a> -->
                    <a routerLink="home"  data-toggle="tab" class="tab">Rentals</a>
            </div>

        </div>
        <i class="fa fa-user" aria-hidden="true" (click)="userprofile()"></i>
        <!-- <iframe src="https://bookingwidget.olacabs.com/" class="city-iframe"></iframe> -->
    </div>
  </div>

  </div>
  <div class="row col-md-3">

  </div>
  <div class="row col-md-6">

<img class="afterlogin" src="assets/autohub-images/afterlogin.jpg">
  </div>
</div>
