<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- register the user -->

  <div class="main">
		<div class="main-w3l">
			<!-- <h1 class="logo-w3">AutoHub Register Form</h1> -->
			<div class="w3layouts-main">
				<h2><span>Register now</span></h2>
					<form [formGroup] = enterotpForm>
            <input placeholder="Enter Full Name" name="Name" type="text" required="" formControlName="fullname" >
            <!-- [ngClass]="{ 'is-invalid': submitted && f.phone.errors,'form-control':true}" -->
            <!-- <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required" class="validate-msg">Name is required</div>
            </div> -->
						<input placeholder="Email(Optional)" name="Email" type="email" required="" formControlName="email">
						<input type="submit" value="Continue" name="login" (click)="updtusrUsr()">
					</form>
			</div>
    </div>
    <div class="message">{{this.getUpdateuserres?.message}}</div>
	</div>
