<!-- <app-header></app-header> -->
<p>bookthehub works!</p>
<!-- <div class="modal-header">
  <h4 class="modal-title pull-left">{{title}} </h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)=" hideModal()">
      <span aria-hidden="true">&times;</span>
  </button>
</div> -->
<div class="row">
  <div class="col-xs-3 col-md-3">
     <label class="valign-label" for="Phone">
     <span
           data-tooltip-el="">Phone</span>
        </label>
     </div>
  <div class="col-xs-9 col-md-9">
     <div class="input-group-text" style="padding:0">
        <input
               style="width: 100%; background: transparent; border: none; margin: auto; height: 100%; border-radius: 3px 0px 0px 3px; text-align: center;"
               disabled />
      </div>
     <input class="form-control itemformcontrol"
        name="Phone" type="number"
        appPhoneMask>
  </div>
</div>
<div class="text-center">
  <div class="form-group">
  <a class="button submit-button itembutton" href="javascript:void(0);" (click)="sendOtp()"
     >Send OTP</a>
     <!--  -->
  <a class="button button2 itembutton1" href="javascript:void(0);">Cancel</a>
</div>
</div>
