<app-header></app-header>
<div class="main_container wd_100">    <!--main_container-->
  <div class="landing_banner_container">
      <div class="landing_banner_wrapper">
          <div class="select_wrapper">
              <img src="assets/autohub-images2/webstatic/img/select/ola-select.png" class="ola_select_img">
              <p>
                  No peak pricing, priority booking and <br />more benefits with Select membership!
              </p>
              <a class="signup_btn hide">
                  <img src="assets/autohub-images2/webstatic/img/select/signup-btn.png">
              </a>
          </div>
          <div class="device_preview hidden_xs">
              <img src="assets/autohub-images2/webstatic/img/select/top-banner-1.png" class="preview_img">
          </div>
          <img src="assets/autohub-images2/webstatic/img/select/shadow.png" class="shadow_img hidden_xs">
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="benefits_container" id="benefits">
      <div class="benefits_wrapper">
          <h1>Membership Benefits</h1>
          <div class="benefits_icon_info">
              <div class="indiv_item">
                  <div class="benefits_icon_wrapper">
                      <img src="assets/autohub-images2/webstatic/img/select/benefits-1.png" />
                  </div>
                  <label>Ride Without Peak Pricing</label>
                  <p>No peak pricing on Prime & Mini, 24X7</p>
              </div>
              <div class="indiv_item">
                  <div class="benefits_icon_wrapper">
                      <img src="assets/autohub-images2/webstatic/img/select/benefits-2.png" class="queue_icon" />
                  </div>
                  <label>Skip Booking Queue</label>
                  <p>Your booking request gets first priority</p>
              </div>
              <div class="indiv_item">
                  <div class="benefits_icon_wrapper">
                      <img src="assets/autohub-images2/webstatic/img/select/benefits-4.png" />
                  </div>
                  <label>Enjoy Free Wi-Fi</label>
                  <p>Stay connected even as you commute</p>
              </div>
          </div>
          <div class="benefits_content">
              <div class="indiv_benefits spacing_right">
                  <div class="benefits_img_col">
                  <img
                      src="assets/autohub-images2/webstatic/img/select/benefits-info-1.png"
                  />
                  </div>
                  <div class="info">
                  <label>Get Priority Customer Support</label>
                  <p>Faster response. Quicker resolutions.</p>
                  </div>
              </div>
              <div class="indiv_benefits spacing_right">
                  <div class="benefits_img_col">
                  <img
                      src="assets/autohub-images2/webstatic/img/select/benefits-info-5.png"
                  />
                  </div>
                  <div class="info">
                  <label>Get Top Drivers & Cars</label>
                  <p>Our highest rated rides at your service.</p>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="indiv_benefits">
                  <div class="benefits_img_col">
                  <img
                      src="assets/autohub-images2/webstatic/img/select/benefits-info-3.png"
                  />
                  </div>
                  <div class="info">
                  <label>Enjoy AutoHub Events</label>
                  <p>Access to concerts, matches and more</p>
                  </div>
              </div>
              <div class="indiv_benefits spacing_right">
                  <div class="benefits_img_col">
                  <img
                      src="assets/autohub-images2/webstatic/img/select/benefits-info-6.png"
                  />
                  </div>
                  <div class="info">
                  <label>Get Partner Offers</label>
                  <p>Exciting offers/discounts from brand partners</p>
                  </div>
              </div>
              <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
          <div class="more-benefits">
              <div class="header">More Details</div>
              <ul>
                  <li>Select Savings valid on Mini and Prime rides</li>
                  <li>Select Savings do not apply on Corporate rides</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="update_container" id="subscription">
      <div class="update_wrapper">
          <h1>Upgrade to AutoHub Select today</h1>
          <div class="upgrade_img_wrapper">
              <img src="assets/autohub-images2/webstatic/img/select/upgrade.png" />
              <img src="assets/autohub-images2/webstatic/img/select/shadow-2.png" class="shadow" />
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="speak_container">
      <div class="speak_wrapper">
          <div class="speak_content">
              <div class="heading">
                  <h1>Select Speak</h1>
                  <div class="line_left">
                  </div>
                  <div class="line_right">
                  </div>
              </div>
              <div class="user_container">
                  <div class="indiv_user">
                      <p class="user_context">
                          "The best feature of #AutoHubSelect is NO PEAK PRICING! Thumbs up!"
                      </p>
                      <label class="user_name">Puneet</label>
                      <p class="member_type">Author, Gurgaon</p>
                      <div class="border"></div>
                  </div>
                  <div class="indiv_user">
                      <p class="user_context">
                          "Neat! Got Select priority while trying to book during peak hours."
                      </p>
                      <label class="user_name">Nikita</label>
                      <p class="member_type">Fashion blogger, Delhi</p>
                      <div class="border"></div>
                  </div>
                  <div class="indiv_user">
                      <p class="user_context">
                          "Booking a Prime and paying for a Mini is a real-life hack :D"
                      </p>
                      <label class="user_name">Shishir</label>
                      <p class="member_type">Product Manager, Mumbai</p>
                      <div class="border"></div>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>

  <!--div class="release_date">
      <p>
        This is a new Select program effective from 27th October, 2016. The benefits may differ for customers who have purchased the product before this date.
      </p>
  </div-->
</div>
<!-- <app-download></app-download> -->
<!-- <section>
  <div class="download-app">
      <div class="max-width app-content">
          <div class="wd-50 right text-center">
              <img src="assets/autohub-images2/webstatic/img/ola-booking.png" class="booking-img" />
          </div>
          <div class="wd-50 left">
              <div class="section-container download-content">
                  <h2 class="section-heading">Book an AutoHub from the App</h2>
                  <p class="info">
                      Download the app for exclusive deals and ease of booking
                  </p>
                  <div class="download-link-wrapper">
                      <a href="javascript:void(0);"  class="download-link">
                          <img src="assets/autohub-images2/webstatic/img/playstore.png" />
                      </a>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</section> -->
