<app-header></app-header>
<section>
  <div class="main-slider">
      <div class="banner-slider">
              <div>
                  <div class="slick-img" style="background: url('assets/www.olacabs.com/webstatic/img/ola-drive/slider/entertainment.jpg');"></div>
                  <!-- <img src="./webstatic/img/ola-drive/slider/entertainment.jpg"> -->
                  <div class="text-overlay">
                      <div class="title">Entertainment on the go</div>
                      <div class="text">In-built music and infotainment to make every ride fun</div>
                  </div>
              </div>
              <div>
                  <div class="slick-img" style="background: url('assets/www.olacabs.com/webstatic/img/ola-drive/slider/package.jpg');"></div>
                  <div class="text-overlay">
                      <div class="title">Create Your Own Package</div>
                      <div class="text">Get personalized packages based on your travel duration and distance</div>
                  </div>
              </div>
              <div>
                  <div class="slick-img" style="background: url('assets/www.olacabs.com/webstatic/img/ola-drive/slider/top-quality.jpg');"></div>
                  <div class="text-overlay">
                      <div class="title">Top-Quality Cars</div>
                      <div class="text">With 104 quality checks, our cars are always as good as new</div>
                  </div>
              </div>
              <div>
                  <div class="slick-img" style="background: url('assets/www.olacabs.com/webstatic/img/ola-drive/slider/built-in.jpg');"></div>
                  <div class="text-overlay">
                      <div class="title">Built-in Navigation</div>
                      <div class="text">Always stay on track with state-of-the-art navigation at your fingertips</div>
                  </div>
              </div>
          </div>
  </div>
</section>
<section>
  <div class="section-container why-ola max-width">
      <h2 class="section-heading">Why choose Drive?</h2>
      <div class="item-list-wrapper clearfix">
          <div class="wd-50">
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/freedom.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Freedom to go anywhere
                      </h4>
                      <p class="info">
                          You car is at your command, always. You can drive to any part of the country.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/hassle-free.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Hassle-free
                      </h4>
                      <p class="info">
                          Your car is pre-checked and verified at the pickup station.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/wide-car.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Wide car range
                      </h4>
                      <p class="info">
                          Choose amongst Hatchbacks, Sedans and SUVs based on your travel needs.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/no-hidden-changes.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          No Hidden Charges
                      </h4>
                      <p class="info">
                          All prices include taxes and fuel.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
          </div>
          <div class="wd-50">
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/convenient.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Convenient pickup
                      </h4>
                      <p class="info">
                          Easy availability of cars across the city’s popular spots.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/insurance-cover.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Insurance Cover
                      </h4>
                      <p class="info">
                          Complete peace of mind with damage liability limited to Rs 10,000.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/support.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          24/7 Support
                      </h4>
                      <p class="info">
                          For all safety concerns during your drive, we’re just a call away at any hour of the day.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
              <a target="_blank" class="indiv-item-list">
                  <div class="wd-30">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-drive/roadside-assistance.jpg" />
                      </div>
                  </div>
                  <div class="wd-70">
                      <h4 class="heading">
                          Roadside Assistance
                      </h4>
                      <p class="info">
                          Whether it’s a vehicle breakdown, tyre puncture or other unforeseen situation, our 24/7 roadside assistance will always have you covered.
                      </p>
                  </div>
                  <div class="clearfix"></div>
              </a>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
</section>
<section>
  <div class="featured-slider">
      <div class="section-container max-width">
          <h2 class="section-heading">Where can you travel with Drive?</h2>
          <!-- <label class="section-sub-heading">
              How other people make the most of their day
          </label> -->
      </div>
      <div class="image-slider">
          <div>
              <img src="assets/www.olacabs.com/webstatic/img/ola-drive/slider/slider-1.jpg">
              <div class="text-overlay">
                  <div class="title">Go on a fun road trip with friends</div>
                  <!-- <div class="text">Go on a fun road trip with friends</div> -->
              </div>
          </div>
          <div>
              <img src="assets/www.olacabs.com/webstatic/img/ola-drive/slider/slider-2.jpg">
              <div class="text-overlay">
                  <div class="title">Enjoy a weekend getaway with your partner </div>
                  <!-- <div class="text">Enjoy a weekend getaway with your partner </div> -->
              </div>
          </div>
          <div>
              <img src="assets/www.olacabs.com/webstatic/img/ola-drive/slider/slider-3.jpg">
              <div class="text-overlay">
                  <div class="title">Drive to the airport to pickup or drop friends and family</div>
                  <!-- <div class="text">Drive to the airport to pickup or drop friends and family</div> -->
              </div>
          </div>
          <div>
              <img src="assets/www.olacabs.com/webstatic/img/ola-drive/slider/slider-4.jpg">
              <div class="text-overlay">
                  <div class="title">Make everyday commute easy</div>
                  <!-- <div class="text">Make everyday commute easy</div> -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- download app section  -->
<section>
  <div class="download-app">
      <div class="max-width app-content">
          <div class="wd-50 right text-center">
              <img src="assets/www.olacabs.com/webstatic/img/olabook.jpg" class="booking-img" />
          </div>
          <div class="wd-50 left">
              <div class="section-container download-content">
                  <h2 class="section-heading">Book an AutoHub from the App</h2>
                  <p class="info">
                      Download the app for exclusive deals and ease of booking
                  </p>
                  <div class="download-link-wrapper">
                      <a href="javascript:void(0);"  class="download-link">
                          <img src="assets/www.olacabs.com/webstatic/img/playstore.png" />
                      </a>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</section>
<app-footer></app-footer>
