<!-- download app section  -->
<section>
  <div class="download-app">
      <div class="max-width app-content">
          <div class="wd-50 right text-center">
              <img src="assets/www.olacabs.com/webstatic/img/ola-booking.png" class="booking-img" />
          </div>
          <div class="wd-50 left">
              <div class="section-container download-content">
                  <h2 class="section-heading">Book an AutoHub from the App</h2>
                  <p class="info">
                      Download the app for exclusive deals and ease of booking
                  </p>
                  <div class="download-link-wrapper">
                      <a href="javascript:void(0);"  class="download-link">
                          <img src="assets/www.olacabs.com/webstatic/img/playstore.png" />
                      </a>
                  </div>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</section>
