<section>
  <div class="category-container">
      <div class="offers-wrapper clearfix max-width">
          <div class="offers-slick">

                  <div class="indiv-offer">

                      <a class="content-wrapper" href="javascript:void(0);" >
                          <div class="content-holder" style="padding: 0 0">
                              <h4 class="heading">30% off upto Rs. 250 on 1st AutoHub Rentals ride </h4>
                              <label class="info-lab">Use code RENT250</label>
                          </div>
                      </a>

                  </div>

                  <div class="indiv-offer">

                      <a class="content-wrapper" href="javascript:void(0);" >
                          <div class="content-holder" style="padding: 0 0">
                              <h4 class="heading">One trip, many destinations</h4>
                              <label class="info-lab">Travel to multiple destinations with just one booking </label>
                          </div>
                      </a>

                  </div>

                  <div class="indiv-offer">

                      <a class="content-wrapper" href="javascript:void(0);" >
                          <div class="content-holder" style="padding: 0 0">
                              <h4 class="heading">Hourly packages at affordable prices</h4>
                              <label class="info-lab">1 &amp; 2 hr packages for short errands</label>
                          </div>
                      </a>

                  </div>

                  <div class="indiv-offer">

                      <a class="content-wrapper event-elem"
                         event-name="offers_tab_clicked"
                         event-value="{'event_value':'offer_heading', 'route_name':'_to_'}"
                         href="javascript:void(0);"
                         >
                          <div class="img-holder">
                              <img src="assets/www.olacabs.com/webstatic/img/offer-1-active.svg" />
                          </div>
                          <div class="content-holder">
                              <h4 class="heading">Upgrade to AutoHub Select</h4>
                              <label class="info-lab">Explore the benefits of AutoHub Select</label>
                          </div>
                      </a>

                  </div>

          </div>
          <button type="button" class="prev-btn offer-prev-btn">Prev</button>
          <button typpe="button" class="next-btn offer-next-btn">Next</button>
      </div>
      <div class="empty-space"></div>
  </div>
</section>


  <section>
      <div class="section-container why-ola max-width">
          <h2 class="section-heading">Why ride with AutoHub rentals?</h2>
          <label class="section-sub-heading">
              The best way to travel around town
          </label>
          <div class="item-list-wrapper clearfix">
              <div class="wd-50">

                      <a  class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img src="assets/cms-web.olacabs.com/maps.jpg" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  Cabs at your disposal
                              </h4>
                              <p class="info">
                                  With AutoHub Rentals you get cabs at your disposal for as long as you want and travel to multiple destinations with just one booking within city limits.
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

                      <a  class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img src="assets/cms-web.olacabs.com/00000000334.jpg" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  Affordable packages
                              </h4>
                              <p class="info">
                                  Packages start at 1 hour and can extend up to 12 hours! Also, with some nominal additional charges cabs can be retained beyond package limits
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

                      <a  class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img src="assets/cms-web.olacabs.com/maps.jpg" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  Flexible bookings
                              </h4>
                              <p class="info">
                                  Easily plan a day out without having to worry about conveyance as with AutoHub Rentals you can book a cab immediately or up to 48 hours in advance.
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

              </div>
              <div class="wd-50">

                      <a   class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img src="assets/cms-web.olacabs.com/00000000342.jpg" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  Secure and Safer Rides
                              </h4>
                              <p class="info">
                                  Verified drivers, an emergency alert button, and live ride tracking are some of the features that we have in place to ensure you a safe travel experience.

                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

                      <a   class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img src="assets/cms-web.olacabs.com/00000000353.png" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  In Cab Entertainment
                              </h4>
                              <p class="info">
                                  Play music, watch videos and a lot more with AutoHub Play!  Also stay connected even if you are travelling through poor network areas with our free wifi facility.

                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

                      <a   class="indiv-item-list event-elem" event-name="why_ride_with_ola">
                          <div class="wd-30">
                              <div class="img-holder">
                                  <img style="width: 149px;" src="assets/cms-web.olacabs.com/cashlessrides.jpg" />
                              </div>
                          </div>
                          <div class="wd-70">
                              <h4 class="heading">
                                  Cashless Rides
                              </h4>
                              <p class="info">
                                  Now go cashless and travel easy. Simply recharge your AutoHub money or add your credit/debit card to enjoy hassle free payments
                              </p>
                          </div>
                          <div class="clearfix"></div>
                      </a>

              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </section>


<section>
  <div class="featured-slider">
      <div class="section-container max-width">
          <h2 class="section-heading">When can you use AutoHub Rentals?</h2>
          <label class="section-sub-heading">
              We have you covered for all your needs
          </label>
      </div>
      <div class="image-slider">

          <div>

              <img src="assets/cms-web.olacabs.com/00000000328.jpg">
              <div class="text-overlay">
                  <div class="title">Daily Errands</div>
                  <div class="text">Now drop your kids off to school, visit a doctor, and get your groceries all in one cab. Perfect way for your personal errands!</div>
              </div>
          </div>

          <div>

              <img src="assets/cms-web.olacabs.com/appointments.jpg">
              <div class="text-overlay">
                  <div class="title">Corporate Appointments</div>
                  <div class="text">Now multiple meetings across town gets easier than ever. Book an AutoHub Rentals, choose the package of your choice and get going.</div>
              </div>
          </div>

          <div>

              <img src="assets/cms-web.olacabs.com/00000000330.jpg">
              <div class="text-overlay">
                  <div class="title">Outing with Friends</div>
                  <div class="text">AutoHub Rentals makes group outings fun! Choose from our range of SUV’s and get a cab at your disposal for as long as you want. </div>
              </div>
          </div>

          <div>

              <img src="assets/cms-web.olacabs.com/00000000331.jpg">
              <div class="text-overlay">
                  <div class="title">Exploring a New City</div>
                  <div class="text">We make your solo trip or a trip with your friends and family to a new city east. Book an AutoHub Rentals and explore the city in your own time. </div>
              </div>
          </div>

          <div>

              <img src="assets/cms-web.olacabs.com/00000000332.jpg">
              <div class="text-overlay">
                  <div class="title">Airport Rides</div>
                  <div class="text">Dropping someone to the airport and getting back can now be done with just one cab booking.</div>
              </div>
          </div>

      </div>
  </div>
</section>


<section class="hide">
  <div class="ola-play">
      <div class="max-width ola-play-wrapper">
          <div class="wd-50 left">
              <div class="play-img">

              </div>
          </div>
          <div class="wd-50 right">
              <div class="section-container ola-play-content">
                  <h2 class="section-heading">Introducing AutoHub Play</h2>
                  <label class="section-sub-heading">
                      In-Cab Experience Console
                  </label>
                  <p class="info">
                      Listen to the music you love, tune into your favorite radio<br>
                      stations or watch TV shows and movies in HD, all from the<br>
                      back seat of your cab with AutoHub Play!
                  </p>
                  <div class="clearfix"></div>
                  <a href="javascript:void(0);" class="know-btn">
                      Know more
                  </a>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</section>

<section>
  <div class="section-container ola-fleet max-width">
      <h2 class="section-heading">Meet our Awesome Fleet</h2>
      <label class="section-sub-heading">
          The widest variety of cars to choose from
      </label>
      <div class="ola-fleet-options outstation-fleet" id="awesome-fleet">
          <div class="slider-nav">

              <div class="indiv-fleet" data-tab="fleet-mini">
                  <div class="img-holder">
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-mini.svg" class="ola-fleet-icon"/>
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-mini-active.svg" class="ola-fleet-icon-active"/>
                  </div>
                  <label>Mini</label>
                  <div class="triangle-up">
                      <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                  </div>
              </div>
              <div class="indiv-fleet" data-tab="fleet-prime-sedan">
                  <div class="img-holder">
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-sedan.svg" class="ola-fleet-icon"/>
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-sedan-active.svg" class="ola-fleet-icon-active"/>
                  </div>
                  <label>Prime Sedan</label>
                  <div class="triangle-up">
                      <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                  </div>
              </div>
              <div class="indiv-fleet" data-tab="fleet-prime-play">
                  <div class="img-holder">
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-play.svg" class="ola-fleet-icon"/>
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-play-active.svg" class="ola-fleet-icon-active"/>
                  </div>
                  <label>Prime Play</label>
                  <div class="triangle-up">
                      <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                  </div>
              </div>
              <div class="indiv-fleet" data-tab="fleet-prime-suv">
                  <div class="img-holder">
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-suv.svg" class="ola-fleet-icon"/>
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-prime-suv-active.svg" class="ola-fleet-icon-active"/>
                  </div>
                  <label>Prime SUV</label>
                  <div class="triangle-up">
                      <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                  </div>
              </div>
              <div class="indiv-fleet" data-tab="fleet-lux">
                  <div class="img-holder">
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-lux.svg" class="ola-fleet-icon"/>
                      <img src="assets/www.olacabs.com/webstatic/img/ola-fleet-svg/ola-lux-active.svg" class="ola-fleet-icon-active"/>
                  </div>
                  <label>LUX</label>
                  <div class="triangle-up">
                      <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                  </div>
              </div>


          </div>
          <button type="button" class="prev-btn-nav">Prev</button>
          <button typpe="button" class="next-btn-nav">Next</button>
      </div>
  </div>

  <div class="fleet-tab-content">
      <div class="max-width fleet-tab-wrapper">
          <div class="fleet-indiv-list slider-for">

              <div class="single-content" id="fleet-mini">
                  <div class="ft-comm-content">
                      <div class="wd-60 left-content">
                          <img src="assets/www.olacabs.com/webstatic/img/fleet-image/mini.png" class="position-5"/>
                      </div>
                      <div class="wd-40">
                          <div class="right-content">
                              <h4 class="heading">Mini</h4>
                              <div class="sub-title">Everyday dependable ride</div>
                              <div class="info">
                                  A regular comfortable AC hatchback that becomes your everyday dependable ride. An economical option for daily commute.
                              </div>
                              <div class="feature-img">
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Air Conditioned Cab">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/ac.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Value for Money">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/value-money.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Regular Hatchback">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/regular-hatchback.svg" style="height: 25px;">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Space for 2 pieces of Luggage">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/baggage-2.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div class="single-content" id="fleet-prime-sedan">
                  <div class="ft-comm-content">
                      <div class="wd-60 left-content">
                          <img src="assets/www.olacabs.com/webstatic/img/fleet-image/prime-sedan.png" class="position-6"/>
                      </div>
                      <div class="wd-40">
                          <div class="right-content">
                              <h4 class="heading">Prime Sedan</h4>
                              <div class="sub-title">Sedans with free Wi-Fi and top drivers</div>
                              <div class="info">
                                  Top rated drivers, and a hand-picked fleet of the best cars with extra legroom and boot space.
                              </div>
                              <div class="feature-img">
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Air Conditioned Cab">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/ac.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Free Wi-Fi">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/wifi.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Extra Legroom">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/leg-room.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Extra Boot Space">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/boot-space.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Executive Ride">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/exec-ride.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div class="single-content" id="fleet-prime-play">
                  <div class="ft-comm-content">
                      <div class="wd-60 left-content">
                          <img src="assets/www.olacabs.com/webstatic/img/fleet-image/prime-play.png" class="position-7"/>
                      </div>
                      <div class="wd-40">
                          <div class="right-content">
                              <h4 class="heading">Prime Play</h4>
                              <div class="sub-title">Enjoy music, radio, videos on the go</div>
                              <div class="info">
                                  Cars with in-cab entertainment consoles that allow you to watch movies, listen to music and stay connected while on the move.
                              </div>
                              <div class="feature-img">
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Entertainment by Ola Play">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/ola-play.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Air Conditioned Cab">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/ac.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Free Wi-Fi">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/wifi.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Family Friendly Ride">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/family.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Space for 3 pieces of Luggage">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/baggage-3.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div class="single-content" id="fleet-prime-suv">
                  <div class="ft-comm-content">
                      <div class="wd-60 left-content">
                          <img src="assets/www.olacabs.com/webstatic/img/fleet-image/prime-suv.png" class="position-9"/>
                      </div>
                      <div class="wd-40">
                          <div class="right-content">
                              <h4 class="heading">Prime SUV</h4>
                              <div class="sub-title">SUVs with free Wi-Fi and top drivers</div>
                              <div class="info">
                                  A perfect choice of car for your weekend getaways, with plenty of room for everyone including that extra bag.
                              </div>
                              <div class="feature-img">
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Extra Legroom">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/leg-room.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Air Conditioned Cab">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/ac.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Free Wi-Fi">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/wifi.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Family Friendly Ride">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/family.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Space for 3 pieces of Luggage">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/baggage-3.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
              <div class="single-content" id="fleet-lux">
                  <div class="ft-comm-content">
                      <div class="wd-60 left-content">
                          <img src="assets/www.olacabs.com/webstatic/img/fleet-image/lux.png" class="position-8"/>
                      </div>
                      <div class="wd-40">
                          <div class="right-content">
                              <h4 class="heading">Lux</h4>
                              <div class="sub-title">The new luxury ride in town</div>
                              <div class="info">
                                  Top-of-the-line luxury cars like Mercedes, BMW, and Audis powered by auto-connect Wi-Fi, at unbeatable fares & attractive hourly rental packages.
                              </div>
                              <div class="feature-img">
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Extra Legroom">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/leg-room.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Water Bottle Available">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/water-bottle.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Luxury ride">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/lux-ride.svg">
                                  </div>
                                  <div class="img-holder" data-toggle="tooltip" data-placement="top" title="Connect Phone via USB">
                                      <img class="option-img" src="assets/www.olacabs.com/webstatic/img/car-features/usb.svg">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>


          </div>
          <button type="button" class="prev-btn">Prev</button>
          <button typpe="button" class="next-btn">Next</button>
      </div>
  </div>

</section>

<section class="hide">
  <div class="ola-play">
      <div class="max-width ola-play-wrapper">
          <div class="wd-50 left">
              <div class="play-img">

              </div>
          </div>
          <div class="wd-50 right">
              <div class="section-container ola-play-content">
                  <h2 class="section-heading">Introducing AutoHub Play</h2>
                  <label class="section-sub-heading">
                      In-Cab Experience Console
                  </label>
                  <p class="info">
                      Listen to the music you love, tune into your favorite radio<br>
                      stations or watch TV shows and movies in HD, all from the<br>
                      back seat of your cab with AutoHub Play!
                  </p>
                  <div class="clearfix"></div>
                  <a id="ola_play_banner_know_more" href="javascript:void(0);" class="know-btn event-elem">
                      Know more
                  </a>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
</section>
