<p>header works!</p>
<!-- <a routerLink="home" (click)="bookthehub()">Book</a> -->
<header class="ola-header sticky">
  <div class="primary-header hide-xs">
      <div class="max-width">
          <div class="pull-left">

          </div>
          <!-- <div class="pull-right">
              <div class="primary-links">
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_drive_with_ola" class="event-elem" href="https://partners.olacabs.com/" >Drive with Ola</a>
                  </div>
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_ola_money" class="event-elem" href="https://www.olamoney.com/" >Ola Money</a>
                  </div>
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_ola_corporate" class="event-elem" href="https://corporate.olacabs.com/" >Ola Corporate</a>
                  </div>
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_ola_foundation" class="event-elem" href="https://ola.foundation/" >Ola Foundation</a>
                  </div>
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_share" class="event-elem" href="share.html" >Share</a>
                  </div>
                  <div class="link-wrapper">
                      <a href="https://blog.olacabs.com/" >Offers</a>
                  </div>
                  <div class="link-wrapper">
                      <a event-name="desktop_top_menu_support" class="event-elem" href="https://help.olacabs.com/support" >Support</a>
                  </div>
              </div>
          </div> -->
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="secondary-header">
      <div class="max-width">
          <div class="pull-left">
              <a href="javascript:void(0);" class="show-xs menu-icon">
                  <img src="assets/www.olacabs.com/webstatic/img/menu.svg">
              </a>
              <a href="javascript:void(0);" class="hide-xs">
                  <img src="assets/www.olacabs.com/webstatic/img/logoautohub.jpg"
                  style="width:144px; height:58px" class="logo" />
              </a>
              <a href="javascript:void(0);" class="mb-logo">
                  <img src="assets/www.olacabs.com/webstatic/img/logoautohub.jpg" class="mb-logo-img" />
              </a>
          </div>
          <div class="pull-right">
              <div class="secondary-links hide-xs">
                  <a routerLink="home" (click)="drive()">AutoHub Drive</a>
                  <a routerLink="home" (click)="select()">AutoHub Select</a>
                  <a href="javascript:void(0);">AutoHub Fleet</a>
                  <a href="javascript:void(0);">Features</a>
                  <!-- <a routerLink="index" (click)="login()">Book</a> -->
                  <a routerLink="home" (click)="bookthehub()">Book</a>
              </div>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
  <div class="sidebar_navigation nav-hidden">
      <a class="close_btn">&times;</a>
      <div class="clearfix"></div>
      <ul>
          <!-- <li><a href="javascript:void(0);">Ola Drive</a></li>
          <li><a href="javascript:void(0);">Ola Select</a></li>
          <li><a href="javascript:void(0);">Ola Fleet</a></li>
          <li><a href="javascript:void(0);">Features</a></li>
          <li><a routerLink="login">Book Now</a></li>
          <li><a href="javascript:void(0);">Drive with Ola</a></li>
          <li><a href="javascript:void(0);">Ola Money</a></li>
          <li><a href="javascript:void(0);">Ola Corporate</a></li>
          <li><a href="javascript:void(0);">Share</a></li>
          <li><a href="javascript:void(0);">Offers</a></li>
          <li><a href="javascript:void(0);">Support</a></li>
          <li><a href="javascript:void(0);">About</a></li> -->
      </ul>
  </div>
</header>
