<div class="features-content-wrapper">
  <div class="features-indiv-content">
      <div class="ola-fleet max-width">
          <!-- Tab -->
          <div class="ola-fleet-options">
              <div class="features-city-slider-nav">
                  <div class="indiv-fleet" data-tab="features-city-1">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play.svg" class="ola-fleet-icon" />
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play-active.svg" class="ola-fleet-icon-active" />
                      </div>
                      <label>Ola Play</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-2">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-select.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-select-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Ola Select</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-3">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Cab for every Pocket</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-4">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/free-wifi.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/free-wifi-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Free Wi-Fi</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-5">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Safer Cars</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-6">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>For every Device</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-7">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/rental-outstation.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/rental-outstation-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Rentals and Outstation</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-8">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/corporate.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/corporate-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Corporate</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-9">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/cashless-ride.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/cashless-ride-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Cashless Rides</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
              </div>
              <button type="button" class="comm-prev-btn-1 features-city-prev-nav-btn">Prev</button>
              <button typpe="button" class="comm-next-btn-1 features-city-next-nav-btn">Next</button>
          </div>
          <!-- End Tab -->
      </div>
      <div class="tab-comm-content">
          <!-- Content -->
          <div class="fleet-tab-content">
              <div class="max-width fleet-tab-wrapper">
                  <div class="fleet-indiv-list features-city-slider-for">
                      <div class="single-content" id="features-city-1">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/ola-play.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Ola Play</h4>
                                      <div class="sub-title">Non stop entertainment</div>
                                      <div class="info">
                                          Listen to the music you love, tune into your favorite radio stations or watch TV shows and movies in HD, all from the back seat of your cab with Ola Play!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-2">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/ola-select.png" class="comm-position" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Ola Select</h4>
                                      <div class="sub-title">A Premium membership program</div>
                                      <div class="info">
                                          A membership program with Ola that lets you ride a Prime Sedan at Mini fares, book cabs without peak pricing and has zero wait time even during rush hours!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-3">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/cabs-every-pocket.png" class="comm-position" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Cabs for every Pocket</h4>
                                      <div class="sub-title">Rickshaws to Mercedes - rides for everyone</div>
                                      <div class="info">
                                          From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every pocket. Choose from a wide range of cars specific to your travel needs.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-4">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/free-wifi.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Free Wi-Fi</h4>
                                      <div class="sub-title">Always stay connected</div>
                                      <div class="info">
                                          Always stay connected, even when you are on the move with Ola’s free, in-cab Wi-Fi.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-5">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/safer-cars.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Safer Cars</h4>
                                      <div class="sub-title">Multiple safety features to keep you secure</div>
                                      <div class="info">
                                          An emergency alert button, and live ride tracking are just some of the features that Ola has in place to keep you safe and secure.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-6">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/every-device.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">For every Device</h4>
                                      <div class="sub-title">Book from any device, anywhere anytime</div>
                                      <div class="info">
                                          You don’t really need a phone anymore to book your Ola cab. Now book yourself a ride in an easy minute on your laptop.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-7">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/rentals-outstation.png" class="comm-position" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Rentals and Outstation</h4>
                                      <div class="sub-title">Cabs for all your travel needs</div>
                                      <div class="info">
                                          A night out with friends, multiple meetings around town or a relaxed weekend getaway; wherever you want to go, now rent chauffeur-driven AC cars at the best fares you can find!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-8">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/corporate-travel.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Corporate</h4>
                                      <div class="sub-title">An easy way to manage your company's travel needs</div>
                                      <div class="info">
                                          A simple and easy way to manage your company’s employee travel. It allows you to track your expenses and is reliable, safe and cost effective!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-9">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/cashless-rides.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Cashless Rides</h4>
                                      <div class="sub-title">The safer and easier payment option</div>
                                      <div class="info">
                                          No cash? No worries. Always enjoy non-stop cashless and hassle-free rides with Ola! Pay for your ride with Ola Money, Ola Credit or Credit/Debit Card
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
                  <button type="button" class="comm-prev-btn features-city-prev-for-btn">Prev</button>
                  <button typpe="button" class="comm-next-btn features-city-next-for-btn">Next</button>
              </div>
          </div>
          <!-- End Content -->
      </div>
  </div>
  <div class="features-indiv-content" id="outstation">
      <div class="ola-fleet max-width">
          <!-- Tab -->
          <div class="ola-fleet-options">
              <div class="features-outstation-slider-nav">
                  <div class="indiv-fleet" data-tab="features-outstation-1">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/hassle-free.svg" class="ola-fleet-icon" />
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/hassle-free-active.svg" class="ola-fleet-icon-active" />
                      </div>
                      <label>Hassle-free Billing</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-outstation-2">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/affordable-upfront.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/affordable-upfront-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Affordable and Up-front Pricing</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-outstation-3">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/roud-trip.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/roud-trip-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Round-trip or One-Way Booking</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-1">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play.svg" class="ola-fleet-icon" />
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play-active.svg" class="ola-fleet-icon-active" />
                      </div>
                      <label>Ola Play</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-outstation-4">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Cab for every Pocket</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-outstation-5">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Safer Cars</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-outstation-10">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>For every Device</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
              </div>
              <button type="button" class="comm-prev-btn-1 features-outstation-prev-nav-btn">Prev</button>
              <button typpe="button" class="comm-next-btn-1 features-outstation-next-nav-btn">Next</button>
          </div>
          <!-- End Tab -->
      </div>
      <div class="tab-comm-content">
          <!-- Content -->
          <div class="fleet-tab-content">
              <div class="max-width fleet-tab-wrapper">
                  <div class="fleet-indiv-list features-outstation-slider-for">
                      <div class="single-content" id="features-outstation-1">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/hassle-free.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Hassle-free Billing</h4>
                                      <div class="sub-title">No more worries about managing change</div>
                                      <div class="info">
                                          Pay for your ride only at the end of your trip. Save yourself the hassle and worry of carrying cash with you by paying with Ola Money!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-outstation-2">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/affordable-upfront.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Affordable and Up-front Pricing</h4>
                                      <div class="sub-title">Economical rides with no hidden costs</div>
                                      <div class="info">
                                          See all expenses involved in your trip upfront before booking your cab. Economical and transparent pricing is our assurance to you.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-outstation-3">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/round-trip.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Round-trip or One-Way Booking</h4>
                                      <div class="sub-title">Only pay for the distance you travel</div>
                                      <div class="info">
                                          Why pay for a return journey when you are travelling just one-way? Book affordable AC cabs for your one-way travel or a return journey, only with Ola!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-1">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/ola-play.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Ola Play</h4>
                                      <div class="sub-title">Non stop entertainment</div>
                                      <div class="info">
                                          Listen to the music you love, tune into your favorite radio stations or watch TV shows and movies in HD, all from the back seat of your cab with Ola Play!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-outstation-4">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/cabs-every-pocket.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Cab for every Pocket</h4>
                                      <div class="sub-title">Rickshaws to Mercedes - rides for everyone</div>
                                      <div class="info">
                                          From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every pocket. Choose from a wide range of cars specific to your travel needs.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-outstation-5">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/safer-cars.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Safer Cars</h4>
                                      <div class="sub-title">Multiple safety features to keep you secure</div>
                                      <div class="info">
                                          An emergency alert button, and live ride tracking are just some of the features that Ola has in place to keep you safe and secure.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-outstation-10">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/every-device.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">For every Device</h4>
                                      <div class="sub-title">Book from any device, anywhere anytime</div>
                                      <div class="info">
                                          You don’t really need a phone anymore to book your Ola cab. Now book yourself a ride in an easy minute on your laptop.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
                  <button type="button" class="comm-prev-btn features-outstation-prev-for-btn">Prev</button>
                  <button typpe="button" class="comm-next-btn features-outstation-next-for-btn">Next</button>
              </div>
          </div>
          <!-- End Content -->
      </div>
  </div>
  <div class="features-indiv-content content-active" id="rental">
      <div class="ola-fleet max-width">
          <!-- Tab -->
          <div class="ola-fleet-options" id="awesome-fleet">
              <div class="features-rental-slider-nav">
                  <div class="indiv-fleet" data-tab="features-rental-1">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/hour-pricing.svg" class="ola-fleet-icon" />
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/hour-pricing-active.svg" class="ola-fleet-icon-active" />
                      </div>
                      <label>By-the-hour Pricing</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-rental-2">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/multiple-stops.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/multiple-stops-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Multiple Stops</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-city-1">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play.svg" class="ola-fleet-icon" />
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/ola-play-active.svg" class="ola-fleet-icon-active" />
                      </div>
                      <label>Ola Play</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-rental-3">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-pocket-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Cab for every Pocket</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-rental-4">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/safer-cars-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>Safer Cars</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
                  <div class="indiv-fleet" data-tab="features-rental-9">
                      <div class="img-holder">
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device.svg" class="ola-fleet-icon"/>
                          <img src="assets/www.olacabs.com/webstatic/img/ola-feature/every-device-active.svg" class="ola-fleet-icon-active"/>
                      </div>
                      <label>For every Device</label>
                      <div class="triangle-up">
                          <img src="assets/www.olacabs.com/webstatic/img/triangle-up-active.svg" />
                      </div>
                  </div>
              </div>
              <button type="button" class="comm-prev-btn-1 features-rental-prev-nav-btn">Prev</button>
              <button typpe="button" class="comm-next-btn-1 features-rental-next-nav-btn">Next</button>
          </div>
          <!-- End Tab -->
      </div>
      <div class="tab-comm-content">
          <!-- Content -->
          <div class="fleet-tab-content">
              <div class="max-width fleet-tab-wrapper">
                  <div class="fleet-indiv-list features-rental-slider-for">
                      <div class="single-content" id="features-rental-1">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/hour-pricing.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">By-the-hour Pricing</h4>
                                      <div class="sub-title">Book from any device, anywhere anytime</div>
                                      <div class="info">
                                          Choose from packages starting from 1hr 15 km to 8hr 80 km, depending on your needs. An affordable and convenient way to travel within the city for business meetings, shopping trips, sightseeing and many more.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-rental-2">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/multiple-stops.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Multiple Stops</h4>
                                      <div class="sub-title">Book by the hour and make as many stops as you want</div>
                                      <div class="info">
                                          Make as many stops as you want or choose multiple destinations to visit only with Ola Rentals.The cab that waits for you.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-city-1">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/ola-play.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Ola Play</h4>
                                      <div class="sub-title">Non stop entertainment</div>
                                      <div class="info">
                                          Listen to the music you love, tune into your favorite radio stations or watch TV shows and movies in HD, all from the back seat of your cab with Ola Play!
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-rental-3">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/cabs-every-pocket.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Cab for every Pocket</h4>
                                      <div class="sub-title">Rickshaws to Mercedes - rides for everyone</div>
                                      <div class="info">
                                          From Sedans and SUVs to Luxury cars for special occasions, we have cabs to suit every pocket. Choose from a wide range of cars specific to your travel needs.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-rental-4">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/safer-cars.png" />
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">Safer Cars</h4>
                                      <div class="sub-title">Multiple safety features to keep you secure</div>
                                      <div class="info">
                                          An emergency alert button, and live ride tracking are just some of the features that Ola has in place to keep you safe and secure.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                      <div class="single-content" id="features-rental-9">
                          <div class="ft-comm-content">
                              <div class="wd-60 left-content">
                                  <img src="assets/www.olacabs.com/webstatic/img/feature-image/every-device.png" class="comm-position"/>
                              </div>
                              <div class="wd-40">
                                  <div class="right-content">
                                      <h4 class="heading">For every Device</h4>
                                      <div class="sub-title">Book from any device, anywhere anytime</div>
                                      <div class="info">
                                          You don’t really need a phone anymore to book your Ola cab. Now book yourself a ride in an easy minute on your laptop.
                                      </div>
                                  </div>
                              </div>
                              <div class="clearfix"></div>
                          </div>
                      </div>
                  </div>
                  <button type="button" class="comm-prev-btn features-rental-prev-for-btn">Prev</button>
                  <button typpe="button" class="comm-next-btn features-rental-next-for-btn">Next</button>
              </div>
          </div>
          <!-- End Content -->
      </div>
  </div>
</div>
